.post-to-self-container {
  .post-to-self-form {
    .post-to-self-main {
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .title {
          width: 28%;
        }
        .detail-input {
        }
      }

      .btn-login {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
      }
    }
  }
}
